<ul class="nav navbar-nav navbar-left">
    <li>@Html.ActionLink("Home", "Index", "Home")</li>
    <li>@Html.ActionLink("Cart", "Index", "ShoppingCart")</li>
</ul>
<ul class="nav navbar-nav navbar-right">
    <li>@Html.ActionLink("Login", "Login", "Authentication")</li>
    <li>@Html.ActionLink("Register", "Register", "Authentication")</li>
</ul>
